.header {
  background: url(../img/teamwork.png) no-repeat center top;
  height: 560px;
  background-attachment: fixed;
}

.header .box-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  width: 100%;
}

.header .box-nav-logo {
  height: 120px;
  width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header .box-nav-logo span {
  color: white;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.header .box-nav-logo img {
  width: 50px;
  height: 50px;
}

.header .box-nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  height: 100px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header .box-nav-menu-href {
  text-decoration: none;
  color: white;
  font-family: "Noto Sans KR", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
}

.header .box-nav-menu .contact {
  font-family: "Noto Sans KR", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  border: 2px solid white;
  padding: 4px 8px;
  font-size: 14px;
}

.header .box-nav-menu a {
  opacity: 0.8;
}

.header .box-nav-menu a:hover {
  opacity: 1;
}

.header .box-nav-menu .box-nav-menu-href::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fff;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.header .box-nav-menu .box-nav-menu-href:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.header .box-text {
  width: 100%;
  height: 440px;
  color: white;
  font-family: "Noto Sans KR", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .box-text h1 {
  font-weight: 900;
  font-size: 40px;
}

.header .box-text h2 {
  font-weight: 300;
  font-size: 18px;
  text-align: center;
}

.bg {
  background-color: rgba(3, 153, 0, 0.6);
  width: 100%;
  height: 560px;
  z-index: 100;
}

@media screen and (max-width: 860px) {
  .bg .box-nav-menu-href {
    margin: 0 5px;
  }
}

@media screen and (max-width: 600px) {
  .bg .box-nav-menu-href {
    margin: 0 5px;
  }
  .bg .box-nav-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 400px) {
  .bg .box-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bg .box-nav-menu {
    width: 280px;
    height: 50px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .bg .box-nav-menu-href {
    margin-bottom: 10px;
  }
  .bg .box-nav-logo {
    width: 280px;
    height: 50px;
    margin: 20px 10px 20px 10px;
  }
}

.text {
  height: 700px;
}

.text-box {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Noto Sans KR", sans-serif;
}

.text-box-border {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100px;
  border: 4px solid rgba(3, 153, 0, 0.4);
}

.text-box-title {
  margin-top: 80px;
  font-size: 36px;
  font-weight: 900;
}

.text-box-subtitle {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 10px;
}

.text-box-content {
  margin-bottom: 50px;
}

.text-box-content-ul {
  margin-bottom: 70px;
}

.text-box-content-ul ul {
  margin-left: -15px;
}

.text-box-slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 40px;
  height: 300px;
}

.text-box-slogan-text {
  font-size: 24px;
  text-align: center;
}

.text .box-quote {
  width: 100%;
  height: 150px;
  background-color: #C0C0C0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Noto Sans KR", sans-serif;
}

.text .box-quote .text-quote {
  width: 85%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.text .box-quote .text-quote-words {
  text-align: right;
  font-size: 24px;
}

.text .box-quote .text-quote-author {
  font-size: 18px;
}

.text .box-quote .text-quote-author span {
  font-weight: 900;
}

@media screen and (max-width: 1200px) {
  .text .text-box {
    margin-left: 30px;
  }
}

@media screen and (max-width: 900px) {
  .text .text-box {
    margin-right: 30px;
    margin-left: 15px;
  }
  .text .text-box-content {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .text .text-box-content-ul {
    font-size: 14px;
    margin-bottom: 30px;
  }
  .text .box-quote .text-quote-words {
    font-size: 18px;
  }
  .text .box-quote .text-quote-author {
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  .text .text-box-content-ul {
    font-size: 12px;
  }
  .text .text-box-content {
    font-size: 12px;
  }
  .text .text-box-slogan-text {
    font-size: 18px;
  }
}

@media screen and (max-width: 400) {
  .text .text-box {
    margin-right: -50px;
    margin-right: 50px;
  }
  .text .box-quote {
    margin-bottom: 50px;
  }
  .text .box-quote .text-quote-words {
    font-size: 14px;
  }
  .text .box-quote .text-quote-author {
    font-size: 12px;
  }
  .text .text-box-subtitle {
    margin-top: 50px;
  }
  .text .text-box-slogan-text {
    margin-bottom: 400px;
    font-size: 12px;
  }
}

.slider {
  margin-top: 200px;
}

.slider-multiple-items {
  width: 100%;
  height: 350px;
  background-color: #8C8C8C;
}

.slider .multiple-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 320px;
  padding: 0;
}

@media screen and (max-width: 400px) {
  .slider {
    padding-top: 100px;
  }
}

.image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 400px 0 100px 0px;
  width: 100%;
}

.image-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 450px;
  background-color: #2a293f;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.image-box-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.image-two {
  margin-top: -450px;
  width: 100%;
}

.image-two-box {
  width: 100%;
  background-color: #039900;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.image-two-box-tabletTop {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.image-two-box-tabletBot {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 1000px) {
  .image {
    margin-top: 400px;
  }
  .image-box {
    height: 850px;
  }
}

@media screen and (max-width: 600px) {
  .image {
    margin-top: 400px;
  }
  .image-box {
    height: 1250px;
  }
}

@media screen and (max-width: 400px) {
  .image {
    margin-top: 400px;
  }
  .image-box {
    height: 2050px;
  }
}

body {
  margin: 0 auto;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */